:root {
  --main-color: #2e2f42;
  --second-color: #434455;
  --color-active: #404bbf;
  --bcg-btn-main: #4d5ae5;
  --bcg-btn-active: #404bbf;
  --color-white: #ffffff;
  --bcg-pink: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-white);
}

/* --------------Logo------------- */

.header-span {
  color: var(--main-color);
}

/* --------------------Header------------- */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-btn-main);
  text-decoration: none;
}
.list {
  list-style: none;
}
.navigat {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.link {
  text-decoration: none;
}

.navigat:hover,
.navigat:focus {
  color: var(--color-active);
}

.address {
  font-style: normal;
}
.address.list {
  list-style-type: none;
}

.address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--color-active);
}

/* ---------------Hero------------- */
.hero {
  background-color: var(--main-color);
}

.hero-title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--bcg-btn-main);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bcg-btn-active);
}

/* -----------------Advantages------------ */

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* ----------------------What are we doing----------- */

.what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}

/* ----------------Our team---------------------- */
.ourteam {
  background-color: var(--bcg-pink);
}

.ourteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}

.people {
  background-color: var(--color-white);
}

.ourteam-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.ourteam-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* ----------------------------Footer-------------- */
.footer {
  background-color: var(--main-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-btn-main);
}

.footer-logo.link {
  text-decoration: none;
}

.footer-span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-pink);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bcg-pink);
}

/********************---Portfolio--***********************/

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--bcg-btn-main);
  background-color: var(--bcg-pink);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--color-active);
}

/* ------------------Examples-------------------------- */

.examples-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.examples-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}
